.table-view {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-text-fill: black;
}
.table-view .column-header-background {
    -fx-background-color: #2E3348;
    -fx-background-radius: 5;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
}
.table-view .column-header, .table-view .filler {
    -fx-size: 30;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}
.table-view .column-header .label{
    -fx-text-fill: white;
}


